<a href="https://www.kaggle.com/code/dilekdd/pandas-exercises-2?scriptVersionId=195015493" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

Define the 'tips' data set within the Seaborn library

In [2]:
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Calculate the sum, min, max and average of the total_bill values by "Time" variable.

In [3]:
df.groupby("time", observed=False).agg({"total_bill": ["sum", "min", "max", "mean"]})

       total_bill
              sum   min    max       mean
time
Lunch     1167.47  7.51  43.11  17.168676
Dinner    3660.30  3.07  50.81  20.797159

Calculate the sum, min, max and average of total_bill values by 'days' and 'time'

In [4]:
df.groupby(["day", "time"], observed=False).agg({"total_bill": ["sum", "min", "max", "mean"]})

            total_bill
                   sum    min    max       mean
day  time
Thur Lunch     1077.55   7.51  43.11  17.664754
     Dinner      18.78  18.78  18.78  18.780000
Fri  Lunch       89.92   8.58  16.27  12.845714
     Dinner     235.96   5.75  40.17  19.663333
Sat  Lunch        0.00    NaN    NaN        NaN
     Dinner    1778.40   3.07  50.81  20.441379
Sun  Lunch        0.00    NaN    NaN        NaN
     Dinner    1627.16   7.25  48.17  21.410000

Calculate the sum, min, max and average of the total_bill by 'lunch time' and 'female' customers according to day

In [5]:
filtered_df = df[(df["time"] == "Lunch") & (df["sex"] == "Female")]
filtered_df.groupby("day", observed=False).agg({"total_bill": ["sum", "min", "max", "mean"],"tip": ["sum", "min", "max", "mean"]})

     total_bill                            tip
            sum    min    max      mean    sum   min   max      mean
day
Thur     516.11   8.35  43.11  16.64871  79.42  1.25  5.17  2.561935
Fri       55.76  10.09  16.27  13.94000  10.98  2.00  3.48  2.745000
Sat        0.00    NaN    NaN       NaN   0.00   NaN   NaN       NaN
Sun        0.00    NaN    NaN       NaN   0.00   NaN   NaN       NaN

Calculate average of orders with 'size' less than 3 and 'total_bill' greater than 10?

In [6]:
df[(df["size"] < 3) & (df["total_bill"] > 10)]["total_bill"].mean()

17.184965034965035

Create a new variable called total_bill_tip_sum. It will return the totalbill and tip paid by each customer

In [7]:
df["total_bill_tip_sum"] = df.apply(lambda x: x["total_bill"] + x["tip"], axis=1)
df.head()

   total_bill   tip     sex smoker  day    time  size  total_bill_tip_sum
0       16.99  1.01  Female     No  Sun  Dinner     2               18.00
1       10.34  1.66    Male     No  Sun  Dinner     3               12.00
2       21.01  3.50    Male     No  Sun  Dinner     3               24.51
3       23.68  3.31    Male     No  Sun  Dinner     2               26.99
4       24.59  3.61  Female     No  Sun  Dinner     4               28.20

Sort from largest to smallest by the total_bill_tip_sum variable and assign the first 30 people to a new dataframe.

In [8]:
df.sort_values(by="total_bill_tip_sum", ascending=False).head(30).reset_index(drop=True)

    total_bill    tip     sex smoker   day    time  size  total_bill_tip_sum
0        50.81  10.00    Male    Yes   Sat  Dinner     3               60.81
1        48.33   9.00    Male     No   Sat  Dinner     4               57.33
2        48.27   6.73    Male     No   Sat  Dinner     4               55.00
3        48.17   5.00    Male     No   Sun  Dinner     6               53.17
4        45.35   3.50    Male    Yes   Sun  Dinner     3               48.85
5        43.11   5.00  Female    Yes  Thur   Lunch     4               48.11
6        39.42   7.58    Male     No   Sat  Dinner     4               47.00
7        44.30   2.50  Female    Yes   Sat  Dinner     3               46.80
8        41.19   5.00    Male     No  Thur   Lunch     5               46.19
9        40.17   4.73    Male    Yes   Fri  Dinner     4               44.90
10       40.55   3.00    Male    Yes   Sun  Dinner     2               43.55
11       38.07   4.00    Male     No   Sun  Dinner     3               42.07
12       38.73   3.00    Male    Yes   Sat  Dinner     4               41.73
13       38.01   3.00    Male    Yes   Sat  Dinner     4               41.01
14       34.30   6.70    Male     No  Thur   Lunch     6               41.00
15       35.83   4.67  Female     No   Sat  Dinner     3               40.50
16       35.26   5.00  Female     No   Sun  Dinner     4               40.26
17       34.81   5.20  Female     No   Sun  Dinner     4               40.01
18       34.83   5.17  Female     No  Thur   Lunch     4               40.00
19       32.40   6.00    Male     No   Sun  Dinner     4               38.40
20       34.65   3.68    Male    Yes   Sun  Dinner     4               38.33
21       34.63   3.55    Male    Yes   Sun  Dinner     2               38.18
22       32.68   5.00    Male    Yes  Thur   Lunch     2               37.68
23       31.27   5.00    Male     No   Sat  Dinner     3               36.27
24       31.71   4.50    Male     No   Sun  Dinner     4               36.21
25       32.90   3.11    Male    Yes   Sun  Dinner     2               36.01
26       30.40   5.60    Male     No   Sun  Dinner     4               36.00
27       31.85   3.18    Male    Yes   Sun  Dinner     2               35.03
28       29.93   5.07    Male     No   Sun  Dinner     4               35.00
29       29.85   5.14  Female     No   Sun  Dinner     5               34.99